$fontFamily: 'MuseoModerno';
@mixin museModerno-medium {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
}

@mixin  museModerno-medium-small {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 14px;
}

@mixin  museModerno-medium-all {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 14px;
   text-decoration-line: underline;
   color: #C70101;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin  museModerno-medium-buy {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin museoModerno-bold-name {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   color: #0D0D0D;
}

@mixin museoModerno-bold-name-info {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 25px;  
   color: #0D0D0D;
}

@mixin museoModerno-bold-name-puls {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 25px;
   color: #0D0D0D;
}

@mixin museoModerno-bold-puls-buy {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 20px;
   color: #050505;
}

@mixin museoModerno-bold-puls-sell {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 14px;
   text-decoration-line: line-through;
   color: #555555;
}

@mixin museoModerno-bold-achiv {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 29px;
   color: #0D0D0D;
}

@mixin museoModerno-regular-info {
   font-family: $fontFamily;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
   text-transform: uppercase;
}