//====================================================================================================
.header {
   font-family: $fontFamily;
   background-image: url("../img/background/bg.png");
   height: 650px;
   &__menu {
      height: 96px;
      align-items: center;
      display: flex;
      justify-content: space-around;
   }

   &__logo {
   }

   &__people {

      &_txt {
         font-weight: 500;
         font-size: 12px;
         line-height: 12px;
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         color: #FFFFFF;
      }

      &_title {
         font-weight: 500;
         font-size: 18px;
         line-height: 29px;
         display: flex;
         align-items: flex-end;
         text-align: center;
         color: #FFFFFF;
      }
   }

   &__contact {

      &_phone {
         font-weight: 700;
         font-size: 18px;
         line-height: 18px;
         display: flex;
         align-items: flex-end;
         text-align: right;
         color: #FFFFFF;
      }

      &_btn {
         border-radius: 10px;
         background-color: #d81b1b;
         width: 153px;
         height: 32px;
         display: flex;
         align-items: center;
         justify-content: center;
         button {
            font-weight: 500;
            font-size: 12px;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
         }
      }
   }
}
.container {
}

.header {

		&__block {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         margin-top: 90px;
		}

		&__title {

			&_title {
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
            display: flex;
            align-items: flex-end;
            text-align: right;
            text-transform: uppercase; 
            color: #FFFFFF;
			}

			&_subtitle {
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            text-align: right;
            text-transform: uppercase;
            color: #FFFFFF;
			}
		}

		&__subblock {
         justify-content: center;
         align-items: center;
         display: flex;
		}

		&__info {
         &:last-child {
            margin-right: 0;
         }
         margin-right: 40px;
			&_img {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
			}

			&_txt {
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: #FFFFFF;
            @include museModerno-medium-small;
            
			}
		}
}
.header {

   &__subbutton {
      margin-top: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      &_btn {
         button 
            {text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            
            color: #FFFFFF;}
            width: 303px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #d81b1b;
            border-radius: 10px;
      }

      &_txt {
         margin-top: 8px;
         span {
            margin-left: 4px;
            a {
               &:hover {
                  color: #FFFFFF;
                  text-decoration: underline;
               }
            }
         }
         font-weight: 500;
         font-size: 16px;
         line-height: 25px;
         display: flex;
         align-items: flex-end;
         text-align: right;
         
         color: #FFFFFF;
      }
   }
}
@media (max-width: 780px) {
   .header__people{
      display: none;
   }
}
@media (max-width: 480px) {
   .header__contact {
      margin-top: 20px;
   }
   .header__logo {
      margin-top: 50px;
   }
   .header__menu {
      flex-direction: column;
   }
}
@media (max-width: 390px) {
   .header__title_title {
      font-size: 38px;
   }
   .header__title_subtitle {
      font-size: 18px;
   }
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
